<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">

  </style>
</head>

<body>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Note</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Nebuchandnezzars</td>
          <td></td>
          <td>Tu prends a pillule bleue ,l'histoire s'arrete la,tu te reveille dans ton lit et tu croix ce que tu
            veux,tu prends la pillule rouge,
            tu restes au pays des merveilles et je te montre jusqu'ou va e tirrier
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Lord</td>
          <td>Vador</td>
          <td>Votre manque de fopi me consterne</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>john</td>
          <td>Doe</td>
          <td>john is alive</td>
        </tr>
      </tbody>
    </table>
    <form>
      <label>
        FirstName<br>
        <input type="text" name="FirstName" placeholder="FirstName" width="1000" size="153"><br>
      </label>
      <label>
        LastName<br>
        <input type="text" name="FirstName" placeholder="LaststName" width="1000" size="153">
      </label><br>
      Note<br>
      <textarea name="textarea" rows="5" cols="156"></textarea><br><br>
      <button style="background-color:blue;color: white">envoyer</button>
      <div id="cercle"></div>

    </form>
  </div>
</body>

</html>

<div class="container">
  <!-- TABLEAU-->
</div>
<router-outlet></router-outlet>